
html, body { height: 100%; background-color: #e70013; }

.app-body { height: 800px; width: 390px; overflow: hidden; position: relative; background: url("../img/015.jpg") no-repeat center top; background-size: contain; }
.m-btn { position: absolute; right: 10px; top: 10px; width: 20px; height: 20px; border: 2px solid white; border-radius: 50%;}
.m-btn { background: black url("../img/switch.png") 50% 50%/100% 100% no-repeat; opacity: 0.5; z-index: 99;}

.ele { position: absolute }
.ele img { width: 100%; }
.intro { display: none }
.bar { position: absolute; width: 100%; left: 0; bottom: 0; padding: 10px 0 20px; text-align: center; background-color: white }

.m-btn { animation: key-btn 600ms ease infinite; }
.intro1 { animation: key-intro1 1s; height: 700px; background: url("../img/017.png") center top; background-size: cover }
.intro2 { animation: key-intro2 1s; }
.intro3 { animation: key-intro3 2s; }
.roll { animation: key-roll 2s ease-in-out infinite alternate-reverse; }
.loop { animation: key-loop 3s ease infinite; display: none }
.loop2 { animation: key-scale 6s ease-in infinite; }
.moving1 { animation: key-slider1 12s ease infinite; }
.moving2 { animation: key-slider2 10s ease infinite; }
.moving3 { animation: key-slider3 10s ease infinite; }
.moving4 { animation: key-slider4 10s ease infinite; }


@keyframes key-btn {
    0% { transform: scale(1);}
    50% { transform: scale(1.1);}
    100% { transform: scale(1);}
}
@keyframes key-intro1 {
    from { height: 0 }
}
@keyframes key-intro2 {
    from { transform: translateY(-50px) }
}
@keyframes key-intro3 {
    from { transform: scale(0.5) }
}
@keyframes key-roll {
    from { transform: scaleX(-1); }
}
@keyframes key-loop {
    10% { transform: scale(1); opacity: 1 }
    25% { transform: scale(1.3); }
    50% { transform: scale(1); }
}
@keyframes key-scale {
    0% { transform: scale(0.5); opacity: 0 }
    10% { transform: scale(1); opacity: 1 }
    90% { transform: scale(1.3); opacity: 1 }
    100% { transform: scale(2); opacity: 0 }
}
@keyframes key-slider1 {
    0% { transform: translate(30px, -10px); opacity: 0 }
    10% { transform: translate(5px, -2px); opacity: 1 }
    90% { transform: translate(-5px, 2px); opacity: 1 }
    100% { transform: translate(-100px, 50px); opacity: 0 }
}
@keyframes key-slider2 {
    0% { transform: translate(-30px, 30px); opacity: 0 }
    10% { transform: translate(-5px, 5px); opacity: 1 }
    90% { transform: translate(5px, -5px); opacity: 1 }
    100% { transform: translate(50px, -50px); opacity: 0 }
}
@keyframes key-slider3 {
    0% { transform: translate(10px, -10px) scale(0.5); opacity: 0 }
    10% { transform: translate(5px, -5px) scale(1); opacity: 1 }
    90% { transform: translate(-5px, 5px) scale(1); opacity: 1 }
    100% { transform: translate(30px, 5px) scale(1.2); opacity: 0 }
}
@keyframes key-slider4 {
    0% { transform: translate(-20px, -5px) scale(0.6); opacity: 0 }
    10% { transform: translate(0, 0) scale(1); opacity: 1 }
    90% { transform: translate(10px, 0px) scale(1); opacity: 1 }
    100% { transform: translate(100px, 15px) scale(1.5); opacity: 0 }
}

